/*
 * Estilos de tu proyecto
 */

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

.body {
    overflow: auto;
} 
.uppercase {
    text-transform: uppercase;
}

 header {
    width: 100%; 
    height: 120px; 
 }

 .logo {
     width: 15%;
     height: 20px;
     margin: 0 auto;
 }

 .logo img {
     padding-top: 10px;
     width: 100%;
 }

 #menu {
     font-size: 30px;
     float: left;
     margin-top: 10px;
     margin-left: 150px;
 }

 /*Estilo a sections-container */

 .sections-container {
     width: 80%;
     float: right;
     background-color: #d4d4d4;
     font-family: sans-serif;
 }

 #sede {
     margin-bottom: 20px;
 }

 #sede h1 {
    margin-right: 20px; 
    padding-top: 20px;
    padding-left: 60px;
    display: inline-block;
 }

 #sede i {
     font-size: 30px;
 }

 div#sections span {
    display: inline-block; 
    padding-left: 50px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
 }

 div#sections a {
     padding: 10px;
     text-decoration: none;
     color: #000;
 }

 div#sections a:hover {
    display: inline; 
    background: #ffc107; 
    color: white;
 }

 /*Estilo para esconder el modal*/
 .hidden {
    display: none;
    margin-top: 170px;
    margin-left: 170px;
 }

 /*Estilo del modal de sedes*/
 #sedes-container {
    position: fixed; 
    width: 550px; 
    height: 450px; 
    top: 0; 
    left: 150px; 
    font-family: sans-serif; 
    font-size: 12px; 
    font-weight: normal; 
    border: none; 
    background-color: #fff; 
    color: #a1a0a0;
    overflow: scroll;
 }

 .select {
     margin: 10px 20px 0;
     display: inline-block;
     width: 15px;
     height: 15px;
     border: 1px solid orange;
 }

 .sede-name {
     margin-top: 5px;
     display: inline-block;
 }

 hr {
     background: orange;
     width: 70%;
     margin-top: 10px;
     margin-left: 20px;
 }

 .container {
     margin-top: 20px;
 }

/*Estilo del usuario */
section.user {
    width: 20%;
    /*outline: 1px solid red; */
    font-family: sans-serif;
    border: 2px solid #ffc107; 
}

div.user-name {
    text-align: center;
}
section.user img {
    width: 30%;
    height: 30%;
    margin-top: 30px;
    border-radius: 10px;
}

div.name {
    float: right;
}
section.user h3.name {
    display: inline-block;
    margin-left: 20px;
}

section.user h4 {
    display: inline-block;
}

div.home {
    border-bottom: 1px solid #ffc107; 
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
}

div.tables, div.calendar {
    border-bottom: 1px solid #ffc107; 
    padding: 20px 0px;
    padding-bottom: 10px;
}

div.out {
    padding: 20px 0px;
}

.home h4, .tables h4, .calendar h4, .out h4 {
    display: inline-block;
    margin-left: 30px;
}

section.user i {
    margin-left: 30px;
}

div.home:hover, div.tables:hover, div.calendar:hover, div.out:hover {
    background-color: #ffc107; 
    color: #fff;
}

 /*Estilo de la sección teacher */

 .teachers-data {
     float: right;
     margin: auto; 
     width: 80%;
     height: 300px;
     background-color: #e9e3e3;
 }

.average-container{
    font-family: sans-serif;
    margin-top: 40px;
    margin-left: 80px;
    width: 40%;
    height: 200px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
}

 .average-title {
     padding-top: 15px;
 }

/*Estilos para la seccion data*/
.data{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /*margin-top: 210px;*/
    background-color:  #f7f7f7;
    /*padding-left: 50px;*/
    width: 80%;
    float: right;
}
/* Estilos para part 1, 4 y 5*/
.part1 div, .part4 div, .part5 div{
    display: inline-block;
    background-color: #ffffff;
    margin-top: 65px;
    margin-left: 60px;
}
.part2, .part3{
    width: 90%;
    height: 553px;
    margin-top: 65px;
    background-color: #ffffff;
    margin-left: 60px;
}


.part1 div, .part4 div, .part5 div{
    width: 42%;
    height: 400px;
}
 /* Estilos para los box  donde iran los datos*/
.part1 .box, .part2 .box, .part3 .box, .part4 .box, .part5 .box{
    width: 80px;
    height: 60px;
    border: 1px solid green;
    margin: 0px;
    margin-left: 20px;
    display: inline-block;
    
}


.part1 p, .part2 p, .part3 p, .part4 p, .part5 p{
    padding: 20px;
}

.a p, .selection{
    display: inline-block;
}
.b p, .selection{
    display: inline-block;
}



.part5 div{
    margin-bottom: 65px;
}


